<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
</head>
<body>
    
    <!-- Vue에서 제어할 출력 영역 -->
    <div id="app">
        
        <form>
            
            <div v-show="step===1">1단계</div>
            
            <div v-show="step===2">2단계</div>
            
            <div v-show="step===3">3단계</div>    
        
            <div v-if="step===1">1단계</div>
            
            <div v-if="step===2">2단계</div>
            
            <div v-if="step===3">3단계</div>    

            <!-- 
            <div v-if="step===1">1단계</div>
            
            <div v-else-if="step===2">2단계</div>
            
            <div v-else="step===3">3단계</div>    
            -->
        </form>
    </div>

    <!-- VueJS CDN -->
    <script src="https://unpkg.com/vue"></script>
    <script>
        // VueModel 생성
        var app = new Vue({
            el:"#app", //제어대상
            data:{ // 사용할 모델(데이터)
                step:1, // 단계
            },
        }); 
    </script>

</body>
</html>